#decor {
  font-weight: bold;
  color: white;
}

.blink {
  animation: blinker 1.5s linear infinite;
  color: red;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
